{
  "policy": {
    "name": "{{ policy.name }}",
    "template": {
      "name": "POLICY_TEMPLATE_FUNDAMENTAL"
    },
{% if "openapi_spec_link" in policy %}

    "open-api-files": [
      {
        "link": "{{ policy.openapi_spec_link }}"
      }
    ],
{% endif %}
    "general": {
{% if "allowed_response_codes" in policy %}
      "allowedResponseCodes": {{ policy.allowed_response_codes }}
{% endif %}
    },
{% if policy.threat_campaign %}
    "blocking-settings": {
      "violations": [{
          "name": "VIOL_THREAT_CAMPAIGN",
          "alarm": true,
          "block": true
        }
      ]
    },
{% endif %}
    "signature-sets": [{
        "name": "All Signatures",
        "block": {{ 'block' in policy.all_sigs_actions }},
        "alarm": {{ 'alarm' in policy.all_sigs_actions }}
      }
    ],
    "applicationLanguage": "utf-8",
    "enforcementMode": "blocking"
  }
}
