{
  "$schema": "https://raw.githubusercontent.com/F5Networks/f5-appsvcs-extension/master/schema/latest/as3-schema.json",
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.26.0",
    "id": "{{ tenant }}_{{ id }}",
    "{{ tenant }}{% if deploy_in_dev %}_dev{% endif %}": {
      "class": "Tenant",
{% for app in apps %}
      "{{ app.name }}_app": {
        "class": "Application",
        "{{ app.name }}_svc": {
          "class": "Service_HTTP",
          "virtualAddresses": ["{% if deploy_in_dev and "dev_virtual_address" in app %}{{ app.dev_virtual_address }}{% else %}{{ app.virtual_address }}{% endif %}"],
          "pool": "as3_pool"{% if "app_sec_policy" in app %},
          "policyWAF": {
            "use": "as3_waf_policy"
          },
          "securityLogProfiles": [
            {
              "bigip": "/Common/Log all requests"
            }
          ]
{% endif %}
        },
        "as3_pool": {
          "class": "Pool",
          "monitors": [
            "{{ app.pool.monitor }}"
          ],
          "members": [
{% for m in app.pool.members %}
            {
              "addressDiscovery": "fqdn",
              "servicePort": {{ m.split(":")[-1] }},
              "hostname": "{{ m.split(":")[0] }}",
              "shareNodes": true
            }{% if not loop.last %},{% endif %}
{% endfor %}
          ]
        }{% if "app_sec_policy" in app %},
        "as3_waf_policy": {
          "class": "WAF_Policy",
          "policy": {
            "base64": "{{ rendered_policies[app.app_sec_policy] | to_json | b64encode }}"
          },
          "ignoreChanges": false
        }
{% endif %}
      }{% if not loop.last %},{% endif %}
{% endfor %}
    }
  }
}
