{
  "policy": {
    "name": "{{ var.name }}",
    "template": {
      "name": "POLICY_TEMPLATE_RAPID_DEPLOYMENT"
    },
    "applicationLanguage": "utf-8",
    "caseInsensitive" : false,
    "description" : "Rapid Deployment Policy",
    "enablePassiveMode" : false,
    "enforcementMode" : "blocking",
    "protocolIndependent" : false,
      "signature-settings" : {
         "signatureStaging" : false
      },
    "type": "security"
  }
}
